@using PetitesPuces.Models
@model List<int>
<div class="row">
   <!-- Clients d'un vendeur categorie-->
   <div class="box box-danger col-md-12 my-auto">
      <div class="box-body chart-responsive">
         <div class="chart" id="clientsVendeur-chart" style="height: 300px; position: relative;"></div>
         <!--<h5>Clients de ce vendeur</h5>-->
      </div>
   </div>
   <!-- END CHART -->
</div>


<script>

   $(function () {      //Clients CHART
      var donutClients = new Morris.Donut({
         element: 'clientsVendeur-chart',
         resize: true,
         colors: ["#17a2b8", "#007bff", "#6c757d"],
         data: [
            { label: "Clients actifs", value: @Model.ElementAt(0) },
            { label: "Clients potentiel", value: @Model.ElementAt(1) },
            { label: "Clients visiteurs", value: @Model.ElementAt(2) }
         ],
         hideHover: 'auto'
      });

   });
</script>