
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
</head>
<body>
    <div id="navigation">
        @RenderPage("~/Views/Home/index.cshtml")
    </div>
    <div id="infoPage" style="padding-left:10px;padding-right:10px">
        <h1 style="text-align:center"><u>Gestion des commandes</u></h1>
        <!-- PAS SUR ENCORE SI JE VEUX METTRE UN BOUTON OU REFRESH À CHAQUE COCHE DE LIVRAISON
    <div style="text-align:center">
            <h1><input type="button" id="btnEnregistrerHaut" value="Enregistrer" class="btn btn-primary"/></h1>
    </div>
            -->
        <div id="commandeCourante">
            <h3>Commande(s) en cours</h3>
            <table class="table table-bordered">
                <tr>
                    <td>
                        <table class="table table-bordered">
                            <tr>
                                <div style="text-align:left">
                                    <h2>
                                        <u>
                                            Commande #12345
                                        </u>
                                    </h2>
                                    <div style="float:left;vertical-align:middle">
                                        <h5>
                                            Date de la commande : 22-01-2019
                                        </h5>
                                    </div>
                                    <div style="float:right">
                                        <h5>
                                            <input id="cbLivrer1" type="checkbox" />
                                            <label for="cbLivrer1" style="vertical-align:middle"> Livré</label>
                                        </h5>
                                    </div>
                                </div>
                            </tr>
                            <tr>
                                <td class="col-1" style="text-align:right"><b>#</b></td>
                                <td class="col-3" style="text-align:left"><b>Nom de l'article</b></td>
                                <td class="col-1" style="text-align:right"><b>Quantité</b></td>
                                <td class="col-2" style="text-align:right"><b>Coût</b></td>
                                <td class="col-2" style="text-align:right"><b>Total</b></td>
                            </tr>
                            <tr>
                                <td class="col-1" style="text-align:right">123123</td>
                                <td class="col-3" style="text-align:left">Marteau</td>
                                <td class="col-1" style="text-align:right">1</td>
                                <td class="col-2" style="text-align:right">10.99$</td>
                                <td class="col-2" style="text-align:right">10.99$</td>
                            </tr>
                            <tr>
                                <td class="col-1" style="text-align:right">123124</td>
                                <td class="col-3" style="text-align:left">Clou</td>
                                <td class="col-1" style="text-align:right">100</td>
                                <td class="col-2" style="text-align:right">0.05$</td>
                                <td class="col-2" style="text-align:right">5.00$</td>
                            </tr>
                            <tr>
                                <td style="border:none"></td>
                                <td style="border:none"></td>
                                <td style="border:none"></td>
                                <td style="border:none"></td>
                                <td>
                                    <div id="divStaticCommande" style="float:left">
                                        Sous-total
                                        <br />
                                        TPS (5%)
                                        <br />
                                        TVQ (9.975%)
                                        <br />
                                        <br />
                                        Total
                                    </div>
                                    <div id="divDynamiqueCommande" style="float:right;text-align:right">
                                        15.99 $
                                        <br />
                                        0.80 $
                                        <br />
                                        1.60 $
                                        <br />
                                        <br />
                                        <b>18.39 $</b>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </div>
        <div id="historiqueCommande">
            <h3>Commande(s) complétée(s)</h3>
            <table class="table table-bordered">
                <tr>
                    <td class="col-2" style="text-align:right"><b>Commande</b></td>
                    <td class="col-3" style="text-align:left"><b>Client</b></td>
                    <td class="col-2" style="text-align:right"><b>Total</b></td>
                </tr>
                <tr>
                    <td class="col-1" style="text-align:right"><a href="">141414</a></td>
                    <td class="col-3" style="text-align:left"><a href="">Luc Desmarais</a></td>
                    <td class="col-1" style="text-align:right">18.39 $</td>
                </tr>
            </table>
        </div>
    </div>
</body>
</html>
