@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Gestion Produit</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <div>
            <label class="col-form-label">Catégorie</label>
            <select id="selTypeRech" class="custom-select border-primary text-primary col-6 mt-3">
                <option value="1" selected>Sport</option>
                <option value="2">Loisir</option>
                <option value="3">Véhicule</option>
                <option value="4">Fourniture de bureau</option>
            </select>
        </div>
        <div>
            <label class="col-form-label">Nom</label>
            <input type="text" class="" />
        </div>
        <div>
            <div>
                <label class="col-form-label">Prix demandé</label>
                <input type="text" class="" />
            </div>
            <div>
                <label class="col-form-label">Prix de vente</label>
                <input type="text" class="" />
            </div>
        </div>
        <div>
            <div>
                <label class="col-form-label">Date de création</label>
                <input type="date" class="" />
            </div>
            <div>
                <label class="col-form-label">Date de vente</label>
                <input type="date" />
            </div>
        </div>
        <div>
            <label class="col-form-label">Description plus élaborée</label>
            <input type="text" class="" />
        </div>
        <div>
            <label class="col-form-label">Nombre d'item(s)</label>
            <input type="text" />
        </div>
        <div>
            <label class="col-form-label">Poids</label>
            <input type="text" class="" />
        </div>
        <div>
            <label class="col-form-label">Disponibilité</label>
            <input type="checkbox" />
        </div>

        <div>
            <label class="col-form-label">Photo</label>
            <img />
            <input type="file" />
        </div>
        
        

    </div>
</body>
</html>
