@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Gestion Produit</title>
</head>
<body>
    <div>
        <select id="selTypeRech" class="custom-select border-primary text-primary col-6 mt-3">
            <option value="1" selected>Sport</option>
            <option value="2">Loisir</option>
            <option value="3">Véhicule</option>
            <option value="4">Fourniture de bureau</option>
        </select>
    </div>
</body>
</html>
