@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Gestion Produit</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
</head>
<body>
    <div id="navigation">
        @RenderPage("~/Views/Vendeur/index.cshtml")
    </div>
    <div class="container">
        <div class="card">
            <h4 class="card-header">Ajout de produit</h4>
            <div class="card-body">
                <div class="form-row form-group">
                    <div class="col-7">
                        <label class="col-form-label">Nom</label>
                        <input type="text" class="form-control" />
                    </div>
                    <div class="col-3">
                        <label class="col-form-label">Catégorie</label>
                        <select id="selTypeRech" class="form-control">
                            <option value="1" selected>Sport</option>
                            <option value="2">Loisir</option>
                            <option value="3">Véhicule</option>
                            <option value="4">Fourniture de bureau</option>
                        </select>
                    </div>
                    <div class="col-2">
                        <label class="col-form-label">Disponibilité</label><br />
                        <input type="checkbox" class="form-check-label" />
                    </div>
                </div>

                <div class="form-row form-group">
                    <div class=" col-2">
                        <label class="col-form-label">Prix demandé</label>
                        <div class="input-group">
                            <input type="text" class="form-control" id="tbPrixDemande" placeholder="00.00">
                            <div class="input-group-append">
                                <span class="input-group-text">
                                    $
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-2">
                        <label class="col-form-label">Prix de vente</label>
                        <div class="input-group">
                            <input type="text" class="form-control" id="tbPrixVente" placeholder="00.00">
                            <div class="input-group-append">
                                <span class="input-group-text">
                                    $
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-2">
                        <label class="col-form-label">Nombre d'item(s)</label>
                        <input type="number" class="form-control" />
                    </div>
                    <div class="col-2">
                        <label class="col-form-label">Poids</label>
                        <div class="input-group">
                            <input type="text" class="form-control" id="tbPoids" placeholder="00">
                            <div class="input-group-append">
                                <span class="input-group-text">
                                    Lbs
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-2">
                        <label class="col-form-label">Date de création</label>
                        <input type="date" class="form-control" />
                    </div>
                    <div class="col-2">
                        <label class="col-form-label">Date de vente</label>
                        <input type="date" class="form-control" />
                    </div>
                </div>
                <div class="form-row form-group">
                    <div class="col-7">
                        <label class="col-form-label">Description plus élaborée</label>
                        <textarea class="form-control" rows="12"></textarea>
                    </div>
                    <div class="col-5">
                        <label class="col-form-label">Photo</label><br />
                        <img src="~/Content/images/images.png" width="250" height="250" />
                        <div class="d-flex mt-2">
                            <input type="file" class="form-control" />
                            <button type="button" class="btn btn-outline-primary ml-3">Visualiser</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer btn-group" style="width:100%">
                <button type="button" class="btn btn-outline-success">Ajouter</button>
                <a href="/Vendeur/CatalogueVendeur" class="btn btn-outline-primary">Annuler</a>
            </div>
        </div>
    </div>
</body>
</html>
