<header class="navbar navbar-expand-lg navbar-light bg-light bd-navbar">
   <nav class="navbar navbar-expand-lg navbar-light bg-light bd-navbar">
      <a class="navbar-brand" href="/Vendeur/AccueilVendeur">Petites Puces</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
         <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
         <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
               <a class="nav-link" href="/Vendeur/GestionCommande">Gérer mes commandes <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
               <a class="nav-link" href="#">Gérer les paniers</a>
            </li>
            <li class="nav-item">
               <a class="nav-link" href="/Vendeur/CatalogueVendeur">Gérer Catalogue</a>
            </li>
            <li class="nav-item">
               <a class="nav-link" href="/Vendeur/GestionProfilVendeur">Gérer Profil</a>
            </li>
            <li class="nav-item">
               <a class="nav-link" href="#">
                  Messagerie
                  <i class="fas fa-envelope"></i>
               </a>
            </li>
            <li class="nav-item">
               <a class="nav-link" href="/Connexion/Deconnexion">
                  Déconnexion
                  <i class="fas fa-sign-out-alt"></i>
               </a>
            </li>
            <li class="nav-item">
               <a class="nav-link" href="#"><i class="fas fa-arrow-left"></i>Retour</a>
            </li>
         </ul>
         <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
         </form>
      </div>
   </nav>
</header>