@model PetitesPuces.Models.userExemple
@{
   Layout = null;
}

<!DOCTYPE html>

<html>
<head>
   <meta name="viewport" content="width=device-width" />
   <title>Oubli de mot de passe</title>
   
   
   <!-- Latest compiled and minified CSS -->
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">

   <!-- Font Awesome (Icons) -->
   <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

</head>
<body>
   <div class="container" style="min-height: 100vh; display: flex">

      <!-- Card -->
      <div class="card mx-auto my-auto" style="width: 30rem; min-width: 30rem">
         <div class="card-body text-center h-100">

            <h5 class="card-title">Oubli de mot de passe</h5>

            <br />
            @using (Html.BeginForm("RecupererPassword", "Login", FormMethod.Post))
            {

               <div class="container">
                  <!-- Email -->
                  <div class="input-group mb-3">
                     <div class="input-group-prepend">
                        <span class="input-group-text text-center" style="width: 45px">
                           <i class="fa fa-at" aria-hidden="true"></i>
                        </span>
                     </div>
                     @Html.EditorFor(x => x.username, new { htmlAttributes = new {
                        @class = "form-control",
                        @placeholder = "Inscrivez votre courriel",
                        @style = Model != null && Model.username == null ? "border:1px solid red" : "" }
                     })
                  </div>

                  <input type="submit" value="Envoyer" class="btn btn-primary btn-block" />
                  
                  <br/>
                  
                  <a href="/Login" style="text-decoration: none;">
                     <input type="button" value="Retour à la page de connexion" class="btn btn-primary btn-block" />
                  </a>
               </div>
            }
         </div>
      </div>
   </div>
</body>
</html>
