
@using PetitesPuces.Models
@model AccueilClientViewModel
   <!DOCTYPE html>
   <html>
   <head>
      <meta name="viewport" content="width=device-width" />
      <meta charset="utf-8">
      <title>Petites Puces</title>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">

      <style>
          body {
             position: relative;
          }

          #navbarCategorie {
             position: fixed;
          }

          /*
         * Base structure
         */
          /* Move down content because we have a fixed navbar that is 50px tall */
          body {
             padding-top: 50px;
          }

          /*
         * Typography
         */

          h1 {
             margin-bottom: 20px;
             padding-bottom: 9px;
             border-bottom: 1px solid #eee;
          }

          /*
         * Sidebar
         */

          .sidebar {
             position: fixed;
             top: 51px;
             bottom: 0;
             left: 0;
             z-index: 1000;
             padding: 20px;
             overflow-x: hidden;
             overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
             border-right: 1px solid #eee;
          }

          /* Sidebar navigation */
          .sidebar {
             padding-left: 0;
             padding-right: 0;
          }

             .sidebar .nav {
                margin-bottom: 20px;
             }

             .sidebar .nav-item {
                width: 100%;
             }

                .sidebar .nav-item + .nav-item {
                   margin-left: 0;
                }

             .sidebar .nav-link {
                border-radius: 0;
             }

          /*
         * Dashboard
         */

          /* Placeholders */
          .placeholders {
             padding-bottom: 3rem;
          }

          .placeholder img {
             padding-top: 1.5rem;
             padding-bottom: 1.5rem;
          }
      </style>

   </head>
   <body>
      <div id="navigation">
         @RenderPage("~/Views/Client/index.cshtml")
      </div>
      <div class="container-fluid">
          @Html.Partial("Client/PanierAccueil", Model)
      </div>
   </body>
</html>
