@model PetitesPuces.ViewModels.CatalogueViewModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Page Catalogue</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <style>
        .sCardItemCatalogue {
            max-width: 17rem;
            min-width: 17rem;
        }
        a.custom-card,
        a.custom-card:hover {
            color: inherit;
        }
    </style>
</head>
<body>
    <div id="navigation">
        @RenderPage("~/Views/Client/index.cshtml")
    </div>
    <div class="container-fluid">
        <div class="row flex-xl-nowrap">
            <nav class="col-sm-3 col-md-2 hidden-xs-down bg-faded sidebar">
                <h5>Catégorie de produit</h5>
                <ul class="nav nav-pills flex-column">
                    @foreach (var categorie in Model.lstCategorie)
                    {
                        <li class="nav-item">
                            <a class="nav-link" href="#">@categorie.Description</a>
                        </li>
                    }
                </ul>
            </nav>
            <main class="container">
                <h1>Catalogue</h1>
                <div class="row">
                    <div class="col-5">
                        <div id="divRecherche" class="border-secondary card">
                            <h6 class="card-header">Recherche</h6>
                            <div class="card-body d-flex flex-wrap">
                                <input type="text" value="" placeholder="Que recherchez-vous?" class="form-control border-primary col-12"><br />
                                <select id="selTypeRech" class="custom-select border-primary text-primary col-6 mt-3">
                                    <option value="1" selected>Nom produit</option>
                                    <option value="2">Catégorie produit</option>
                                    <option value="3">Numéro produit</option>
                                    <option value="4">Description produit</option>
                                    <option value="5">Date de parution</option>
                                </select>
                                <button type="button" class="btn btn-outline-primary mt-3 ml-auto">Lancer recherche <span class="fas fa-search"></span></button>
                            </div>
                        </div>
                    </div>
                    <div class="col-7">
                        <div id="divTriEtNbItems" class="border rounded border-secondary card">
                            <h6 class="card-header">Présentation</h6>
                            <div class="card-body d-flex">
                                <div class="">
                                    <label class="font-weight-bold">Classer par </label><br /><br />
                                    <button type="button" class="btn btn-outline-primary">Numéro de produit <span class="fas fa-sort-alpha-up"></span></button>
                                    <button type="button" class="btn btn-outline-primary">Catégorie <span class="fas fa-sort-alpha-up"></span></button>
                                    <button type="button" class="btn btn-outline-primary">Date de parution <span class="fas fa-sort-alpha-up"></span></button>
                                </div>
                                <div class="ml-auto">
                                    <label for="ProduitParPage" class="font-weight-bold">Par page</label><br /><br />
                                    @Html.DropDownList("ProduitParPage", (SelectList)ViewBag.ListeNbItems, new { @class = "custom-select border-primary text-primary"})
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br />
                <div id="divPaginationHaut" class="d-flex justify-content-center">
                    <nav>
                        <ul class="pagination">
                            <li class="page-item disabled"><a class="page-link" href="#">&lsaquo;</a></li>
                            <li class="page-item disabled"><a class="page-link" href="#">&lsaquo;&lsaquo;</a></li>
                            <li class="page-item active"><a class="page-link" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item"><a class="page-link" href="#">4</a></li>
                            <li class="page-item"><a class="page-link" href="#">5</a></li>
                            <li class="page-item"><a class="page-link" href="#">6</a></li>
                            <li class="page-item"><a class="page-link" href="#">7</a></li>
                            <li class="page-item"><a class="page-link" href="#">8</a></li>
                            <li class="page-item"><a class="page-link" href="#">9</a></li>
                            <li class="page-item"><a class="page-link" href="#">10</a></li>
                            <li class="page-item"><a class="page-link" href="#">...</a></li>
                            <li class="page-item"><a class="page-link" href="#">&rsaquo;&rsaquo;</a></li>
                            <li class="page-item"><a class="page-link" href="#">&rsaquo;</a></li>
                        </ul>
                    </nav>
                </div>

                <br />
                

               @Html.Partial("Client/ProduitCatalogue")

                <div id="divPaginationBas" class="d-flex justify-content-center">
                    <nav>
                        <ul class="pagination">
                            <li class="page-item disabled"><a class="page-link" href="#">&lsaquo;</a></li>
                            <li class="page-item disabled"><a class="page-link" href="#">&lsaquo;&lsaquo;</a></li>
                            <li class="page-item active"><a class="page-link" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item"><a class="page-link" href="#">4</a></li>
                            <li class="page-item"><a class="page-link" href="#">5</a></li>
                            <li class="page-item"><a class="page-link" href="#">6</a></li>
                            <li class="page-item"><a class="page-link" href="#">7</a></li>
                            <li class="page-item"><a class="page-link" href="#">8</a></li>
                            <li class="page-item"><a class="page-link" href="#">9</a></li>
                            <li class="page-item"><a class="page-link" href="#">10</a></li>
                            <li class="page-item"><a class="page-link" href="#">...</a></li>
                            <li class="page-item"><a class="page-link" href="#">&rsaquo;&rsaquo;</a></li>
                            <li class="page-item"><a class="page-link" href="#">&rsaquo;</a></li>
                        </ul>
                    </nav>
                </div>
            </main>
        </div>
    </div>
</body>
</html>
