
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>View</title>
</head>
<body>
    <div>

        <input type="text" id="NoAutorisation" value="" />
        <input type="text" id="DateAutorisation" value="" />
        <input type="text" id="FraisMarchand" value="" />
        <input type="text" id="InfoSuppl" value="" />
    </div>
</body>
</html>
