
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>View</title>
</head>
<body>
    <div>

        <label type="text" id="NoAutorisation" value=""></label>
        <label type="text" id="DateAutorisation" value="" ></label>
        <label type="text" id="FraisMarchand" value="" ></label>
        <label type="text" id="InfoSuppl" value="" ></label>
    </div>
</body>
</html>
