@model PetitesPuces.Models.PPClients
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>GestionProfileClient</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link rel="stylesheet" href="~/Content/css/styleGeneral.css" />
    <style>
    </style>
</head>
<body>
    <div id="navigation">
        @RenderPage("~/Views/Client/index.cshtml")
    </div>
    <div class="container sEspaceBarNavigation">
        @Html.Partial("~/Views/Client/InformationPersonnel.cshtml", Model)
        <br />
        @Html.Partial("ModificationMDP")
    </div>
</body>
</html>
