@using PetitesPuces.Models
@{
   DataClasses1DataContext db = new DataClasses1DataContext();
   db.Connection.Open();

   var notif = (from desti in db.GetTable<PPDestinataires>()
                where (desti.NoDestinataire.Equals((Session["clientObj"] as PPClients).NoClient)) &&
                (desti.EtatLu.Equals(0) && desti.Lieu == 1)
                select desti
                   ).ToList();
   db.Connection.Close();
}

<header class="navbar navbar-expand-lg navbar-light bg-light bd-navbar">
   <a class="navbar-brand" href="/Client/AccueilClient">Petites Puces</a>
   <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
   </button>
   <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
         <a class="nav-link" href="/Internaute/Inscription">Inscription Vendeur<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
         <a class="nav-link" href="/Client/GestionProfilClient" id="navbarDropdown">
            Gérer mon profil
         </a>
      </li>
      <li class="nav-item">
         <a class="nav-link" href="/Client/Catalogue">
            Voir le catalogue
         </a>
      </li>
      <li class="nav-item">
         <a class="nav-link" href="/Client/HistoriqueCommande">
            Historique des commandes
         </a>
      </li>
      <li class="nav-item">
         <a class="nav-link" href="/Courriel/Index">
            Messagerie
            <i class="fas fa-envelope"></i>
            @if (notif.Count() > 0)
            {
               @notif.Count();
            }
         </a>
      </li>
      <li class="nav-item">
         <a class="nav-link" href="/Connexion/Deconnexion">
            Déconnexion
            <i class="fas fa-sign-out-alt"></i>
         </a>
      </li>
      <li class="nav-item">
         <a class="nav-link" href="@Session["retour"]"><i class="fas fa-arrow-left"></i>Retour</a>
      </li>
   </ul>
</header>

