@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
   <meta name="viewport" content="width=device-width" />
   <meta charset="utf-8">
   <title>Petites Puces</title>
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
   <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
   <title>Petites Puces</title>
   <style>
      .quantity {
         float: left;
         margin-right: 15px;
         background-color: #eee;
         position: relative;
         width: 80px;
         overflow: hidden
      }

      .quantity input {
         margin: 0;
         text-align: center;
         width: 15px;
         height: 15px;
         padding: 0;
         float: right;
         color: #000;
         font-size: 20px;
         border: 0;
         outline: 0;
         background-color: #F6F6F6
      }

      .quantity input.qty {
         position: relative;
         border: 0;
         width: 100%;
         height: 40px;
         padding: 10px 25px 10px 10px;
         text-align: center;
         font-weight: 400;
         font-size: 15px;
         border-radius: 0;
         background-clip: padding-box
      }

      .quantity .minus, .quantity .plus {
         line-height: 0;
         background-clip: padding-box;
         -webkit-border-radius: 0;
         -moz-border-radius: 0;
         border-radius: 0;
         -webkit-background-size: 6px 30px;
         -moz-background-size: 6px 30px;
         color: #bbb;
         font-size: 20px;
         position: absolute;
         height: 50%;
         border: 0;
         right: 0;
         padding: 0;
         width: 25px;
         z-index: 3
      }

      .quantity .minus:hover, .quantity .plus:hover {
         background-color: #dad8da
      }

      .quantity .minus {
         bottom: 0
      }

      .shopping-cart {
         margin-top: 20px;
      }
   </style>
</head>
<body>
   <div id="navigation">
      @RenderPage("~/Views/Client/index.cshtml")
   </div>
   <br /><br /><br />
   <div class="container">
      <div class="card shopping-cart">
         <div class="card-header">
            <h3>Panier du vendeur: </h3>
         </div>
         <div class="card-body">
            <!-- PRODUCT -->
            <div class="row">
               <div class="col-12 col-sm-12 col-md-2 text-center">
                  <img class="img-responsive" src="http://placehold.it/120x80" alt="prewiew" width="120" height="80">
               </div>
               <div class="col-12 text-sm-center col-sm-12 text-md-left col-md-6">
                  <h4 class="product-name"><strong>Nom du produit</strong></h4>
                  <h4>
                     <small>Description du produit</small>
                  </h4>
               </div>
               <div class="col-12 col-sm-12 text-sm-center col-md-4 text-md-right row">
                  <div class="col-3 col-sm-3 col-md-6 text-md-right" style="padding-top: 5px">
                     <h6><strong>25.00$ <span class="text-muted">x</span></strong></h6>
                  </div>
                  <div class="col-4 col-sm-4 col-md-4">
                     <div class="quantity">
                        <input type="button" value="+" class="plus">
                        <input type="number" step="1" max="99" min="1" value="1" title="Qty" class="qty"
                               size="4">
                        <input type="button" value="-" class="minus">
                     </div>
                  </div>
                  <div class="col-2 col-sm-2 col-md-2 text-right">
                     <button type="button" class="btn btn-outline-danger btn-xs">
                        <i class="fa fa-trash" aria-hidden="true"></i>
                     </button>
                  </div>
               </div>
            </div>
            <hr>
            <!-- END PRODUCT -->
            <!-- PRODUCT -->
            <div class="row">
               <div class="col-12 col-sm-12 col-md-2 text-center">
                  <img class="img-responsive" src="http://placehold.it/120x80" alt="prewiew" width="120" height="80">
               </div>
               <div class="col-12 text-sm-center col-sm-12 text-md-left col-md-6">
                  <h4 class="product-name"><strong>Nom du produit</strong></h4>
                  <h4>
                     <small>Description du produit</small>
                  </h4>
               </div>
               <div class="col-12 col-sm-12 text-sm-center col-md-4 text-md-right row">
                  <div class="col-3 col-sm-3 col-md-6 text-md-right" style="padding-top: 5px">
                     <h6><strong>25.00$ <span class="text-muted">x</span></strong></h6>
                  </div>
                  <div class="col-4 col-sm-4 col-md-4">
                     <div class="quantity">
                        <input type="button" value="+" class="plus">
                        <input type="number" step="1" max="99" min="1" value="1" title="Qty" class="qty"
                               size="4">
                        <input type="button" value="-" class="minus">
                     </div>
                  </div>
                  <div class="col-2 col-sm-2 col-md-2 text-right">
                     <button type="button" class="btn btn-outline-danger btn-xs">
                        <i class="fa fa-trash" aria-hidden="true"></i>
                     </button>
                  </div>
               </div>
            </div>
            <hr>
            <!-- END PRODUCT -->
            <div class="row">
               <div class="col-sm-6">
                  <div class="d-flex justify-content-start">
                     <a href="" class="btn btn-primary">
                        Voir le catalogue du vendeur
                     </a>
                  </div>
               </div>
               <div class="col-sm-6">
                  <div class="d-flex justify-content-end">
                     <a href="" class="btn btn-success">
                        Mettre à jour le panier
                     </a>
                  </div>
               </div>
            </div>
            
         </div>
         <div class="card-footer">
            <div class="row">
               <div class="col-sm-6">
                  <div class="d-flex justify-content-start">
                     <h4>Prix total: <b>50.00$</b></h4>
                  </div>
               </div>
               <div class="col-sm-6">
                  <div class="d-flex justify-content-end">
                     <a href="" class="btn btn-success">Passer une commande</a>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</body>
</html>
