<!doctype html>
<html lang="fr">
<head>
  <title>Petites Puces</title>
  <!--Librairies externes (Bootstrap 4.2)-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
                /*
        * Base structure
        */

        /* Move down content because we have a fixed navbar that is 50px tall */
        body {
        padding-top: 50px;
        }

        /*
        * Typography
        */

        h1 {
        margin-bottom: 20px;
        padding-bottom: 9px;
        border-bottom: 1px solid #eee;
        }

        /*
        * Sidebar
        */

        .sidebar {
        position: fixed;
        top: 51px;
        bottom: 0;
        left: 0;
        z-index: 1000;
        padding: 20px;
        overflow-x: hidden;
        overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
        border-right: 1px solid #eee;
        }

        /* Sidebar navigation */
        .sidebar {
        padding-left: 0;
        padding-right: 0;
        }

        .sidebar .nav {
        margin-bottom: 20px;
        }

        .sidebar .nav-item {
        width: 100%;
        }

        .sidebar .nav-item + .nav-item {
        margin-left: 0;
        }

        .sidebar .nav-link {
        border-radius: 0;
        }

        /*
        * Dashboard
        */

        /* Placeholders */
        .placeholders {
        padding-bottom: 3rem;
        }

        .placeholder img {
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
        }
    </style>
</head>
<body>
    <!--Barre de navigation-->
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
        <a class="navbar-brand" href="#">Petites Puces</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/Administrateur/GestionInactivite">Gérer l'inactivité des clients/vendeurs <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="" id="navbarDropdown">
                        Voir les statistiques
                    </a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>
    <div class="container-fluid">
            <div class="row">
            
              <nav class="col-sm-3 col-md-2 hidden-xs-down bg-faded sidebar">
                  <ul class="nav nav-pills flex-column">
                      <li class="nav-item">
                          <a class="nav-link active" href="#">Accueil <span class="sr-only">(current)</span></a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link" href="#">Statistiques</a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link" href="#">Demandes de vendeurs</a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link" href="#">
                              Les Redevences
                          </a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link" href="#">
                              Ajouter une catégorie
                          </a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link" href="#">
                              Supression de catégorie 
                          </a>
                      </li>
                  </ul>
              </nav>
      
              <main class="col-sm-9 offset-sm-3 col-md-10 offset-md-2 pt-3">
                <h1>Statistiques</h1>
      
                <section class="row text-center placeholders">
                  <div class="col-6 col-sm-3 placeholder">
                    <img src="data:image/gif;base64,R0lGODlhAQABAIABAAJ12AAAACwAAAAAAQABAAACAkQBADs=" width="200" height="200" class="img-fluid rounded-circle" alt="Generic placeholder thumbnail">
                    <h4>Label</h4>
                    <div class="text-muted">Stats #1</div>
                  </div>
                  <div class="col-6 col-sm-3 placeholder">
                    <img src="data:image/gif;base64,R0lGODlhAQABAIABAADcgwAAACwAAAAAAQABAAACAkQBADs=" width="200" height="200" class="img-fluid rounded-circle" alt="Generic placeholder thumbnail">
                    <h4>Label</h4>
                    <span class="text-muted">Stats #2</span>
                  </div>
                  <div class="col-6 col-sm-3 placeholder">
                    <img src="data:image/gif;base64,R0lGODlhAQABAIABAAJ12AAAACwAAAAAAQABAAACAkQBADs=" width="200" height="200" class="img-fluid rounded-circle" alt="Generic placeholder thumbnail">
                    <h4>Label</h4>
                    <span class="text-muted">Stats #3</span>
                  </div>
                  <div class="col-6 col-sm-3 placeholder">
                    <img src="data:image/gif;base64,R0lGODlhAQABAIABAADcgwAAACwAAAAAAQABAAACAkQBADs=" width="200" height="200" class="img-fluid rounded-circle" alt="Generic placeholder thumbnail">
                    <h4>Label</h4>
                    <span class="text-muted">Stats #4</span>
                  </div>
                </section>
      
                <h2>Gérer les nouvelles demandes de vendeur</h2>
                <div class="table-responsive">
                  <table class="table table-striped">
                    <thead>
                      <tr>
                        <th># Demande Vendeur</th>
                        <th>Nom d'affaires</th>
                        <th>Nom Complet</th>
                        <th>Province</th>
                        <th>No Teléphone</th>
                        <th>Verdict</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>1,001</td>
                        <td>Lorem</td>
                        <td>ipsum</td>
                        <td>dolor</td>
                        <td>sit</td>
                        <td>
                            <button class="btn btn-success">Accepter</button>
                            <button class="btn btn-danger">Refuser</button>
                        </td>
                      </tr>
                      <tr>
                        <td>1,002</td>
                        <td>amet</td>
                        <td>consectetur</td>
                        <td>adipiscing</td>
                        <td>elit</td>
                        <td>
                            <button class="btn btn-success">Accepter</button>
                            <button class="btn btn-danger">Refuser</button>
                        </td>
                      </tr>
                      <tr>
                        <td>1,003</td>
                        <td>Integer</td>
                        <td>nec</td>
                        <td>odio</td>
                        <td>Praesent</td>
                        <td>
                            <button class="btn btn-success">Accepter</button>
                            <button class="btn btn-danger">Refuser</button>
                        </td>
                      </tr>
                      <tr>
                        <td>1,003</td>
                        <td>libero</td>
                        <td>Sed</td>
                        <td>cursus</td>
                        <td>ante</td>
                        <td>
                            <button class="btn btn-success">Accepter</button>
                            <button class="btn btn-danger">Refuser</button>
                        </td>

                      </tr>
                      <tr>
                        <td>1,004</td>
                        <td>dapibus</td>
                        <td>diam</td>
                        <td>Sed</td>
                        <td>nisi</td>
                        <td>
                            <button class="btn btn-success">Accepter</button>
                            <button class="btn btn-danger">Refuser</button>
                        </td>
                      </tr>
                      <tr>
                        <td>1,005</td>
                        <td>Nulla</td>
                        <td>quis</td>
                        <td>sem</td>
                        <td>at</td>
                        <td>
                            <button class="btn btn-success">Accepter</button>
                            <button class="btn btn-danger">Refuser</button>
                        </td>
                      </tr>
                      <tr>
                        <td>1,006</td>
                        <td>nibh</td>
                        <td>elementum</td>
                        <td>imperdiet</td>
                        <td>Duis</td>
                        <td>
                            <button class="btn btn-success">Accepter</button>
                            <button class="btn btn-danger">Refuser</button>
                        </td>
                      </tr>
                      <tr>
                        <td>1,007</td>
                        <td>sagittis</td>
                        <td>ipsum</td>
                        <td>Praesent</td>
                        <td>mauris</td>
                        <td>
                            <button class="btn btn-success">Accepter</button>
                            <button class="btn btn-danger">Refuser</button>
                        </td>
                      </tr>
                      <tr>
                        <td>1,008</td>
                        <td>Fusce</td>
                        <td>nec</td>
                        <td>tellus</td>
                        <td>sed</td>
                        <td>
                            <button class="btn btn-success">Accepter</button>
                            <button class="btn btn-danger">Refuser</button>
                        </td>
                      </tr>
                      <tr>
                        <td>1,009</td>
                        <td>augue</td>
                        <td>semper</td>
                        <td>porta</td>
                        <td>Mauris</td>
                        <td>
                            <button class="btn btn-success">Accepter</button>
                            <button class="btn btn-danger">Refuser</button>
                        </td>
                      </tr>
                      <tr>
                        <td>1,010</td>
                        <td>massa</td>
                        <td>Vestibulum</td>
                        <td>lacinia</td>
                        <td>arcu</td>
                        <td>
                            <button class="btn btn-success">Accepter</button>
                            <button class="btn btn-danger">Refuser</button>
                        </td>
                      </tr>
                      <tr>
                        <td>1,011</td>
                        <td>eget</td>
                        <td>nulla</td>
                        <td>Class</td>
                        <td>aptent</td>
                        <td>
                            <button class="btn btn-success">Accepter</button>
                            <button class="btn btn-danger">Refuser</button>
                        </td>
                      </tr>
                      <tr>
                        <td>1,012</td>
                        <td>taciti</td>
                        <td>sociosqu</td>
                        <td>ad</td>
                        <td>litora</td>
                        <td>
                            <button class="btn btn-success">Accepter</button>
                            <button class="btn btn-danger">Refuser</button>
                        </td>
                      </tr>
                      <tr>
                        <td>1,013</td>
                        <td>torquent</td>
                        <td>per</td>
                        <td>conubia</td>
                        <td>nostra</td>
                        <td>
                            <button class="btn btn-success">Accepter</button>
                            <button class="btn btn-danger">Refuser</button>
                        </td>
                      </tr>
                      <tr>
                        <td>1,014</td>
                        <td>per</td>
                        <td>inceptos</td>
                        <td>himenaeos</td>
                        <td>Curabitur</td>
                        <td>
                            <button class="btn btn-success">Accepter</button>
                            <button class="btn btn-danger">Refuser</button>
                        </td>
                      </tr>
                      <tr>
                        <td>1,015</td>
                        <td>sodales</td>
                        <td>ligula</td>
                        <td>in</td>
                        <td>libero</td>
                        <td>
                            <button class="btn btn-success">Accepter</button>
                            <button class="btn btn-danger">Refuser</button>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <hr>
                <h2>Les redevences dues</h2>
                    <div class="d-flex flex-row">
                        <div class="p-2"><input type="checkbox" class="form-check-input" id="cbParMois"></div>
                        <div class="p-2"><label class="form-check-label" for="exampleCheck1">Tri par mois</label></div>
                        <div class="p-2">&nbsp;&nbsp;<input type="checkbox" class="form-check-input" id="cbParClient"></div>
                        <div class="p-2"><label class="form-check-label" for="exampleCheck1">Tri par Client</label></div>
                    </div>

                <table class="table table-striped">
                    <thead>
                        <tr>
                        <th>No de Vendeur</th>
                        <th>Nom d'affaires</th>
                        <th>Nom Complet</th>
                        <th>Province</th>
                        <th>No Teléphone</th>
                        <th>Montant ($)</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>Cax Co</td>
                            <td>Simon Malboeuf</td>
                            <td>QC</td>
                            <td>(514) 453-2564</td>
                            <td>$450</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>Ipso</td>
                            <td>Nicolas Jouanique</td>
                            <td>QC</td>
                            <td>(514) 453-6666</td>
                            <td>$69</td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>Bell</td>
                            <td>Alexander Jouanique</td>
                            <td>QC</td>
                            <td>(514) 453-6969</td>
                            <td>$80</td>
                        </tr>
                    </tbody>
                </table>
                <hr>
                <h2>Ajout d'une catégorie</h2>
                <form>
                    <br>
                    <div class="card">
                        <div class="card-body">
                            <div class="container">
                                <div class="form-group row">
                                    <div class="col-sm-4">
                                        <label>No catégorie</label>
                                    </div>
                                    <div class="col-sm-4">
                                        <input type="text" class="form-control" placeholder="NoCategorie" aria-label="Recipient's username" aria-describedby="basic-addon2" disabled="true" value="1">
                                    </div>
                                        
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-8">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">Description</span>
                                            </div>
                                            <textarea class="form-control" aria-label="With textarea"></textarea>
                                        </div>
                                    </div>  
                                </div>                            
                                <div class="form-group row">
                                    <div class="col-sm-8">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">Détails</span>
                                            </div>
                                            <textarea class="form-control" aria-label="With textarea"></textarea>
                                        </div>
                                    </div>  
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-8">
                                        <button id="btnAjouterCategorie" class="btn btn-success" style="width: 100%;">Ajouter Catégorie</button>
                                    </div>  
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </form>
                <hr>
                <h2>Suppression d'une catégorie</h2>
                <table class="table table-striped">
                    <thead>
                        <tr>
                        <th>No de Catégorie</th>
                        <th>Description</th>
                        <th>Détails</th>
                        <th>Supprimer</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>Sports et Loisirs</td>
                            <td>Équipement de sport</td>
                            <td><button id="btnSupprimer" class="btn btn-danger">Supprimer</button></td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>Voiture</td>
                            <td>Voiture d'occasion</td>
                            <td><button id="btnSupprimer" class="btn btn-danger">Supprimer</button></td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>Électronique</td>
                            <td>Équipement d'électronique</td>
                            <td><button id="btnSupprimer" class="btn btn-danger">Supprimer</button></td>
                        </tr>
                    </tbody>
                </table>
              </main>
            </div>
          </div>

        
        
          <!-- Bootstrap core JavaScript
          ================================================== -->
          <!-- Placed at the end of the document so the pages load faster -->
          <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
          <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
          <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
          <script src="../../dist/js/bootstrap.min.js"></script>
          <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
          <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
        </body>
      </html>
      
</body>
</html>