
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="../Static/scripts/Scriptdefault.js"></script>
    <link rel="stylesheet" href="../Static/styles/index.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>Petites Puces</title>
</head>
<body>
    <div>
        <nav class="navbar navbar-dark bg-primary" style="background-color: #646464;">
            <div class="collapse navbar-collapse">
                <div class="navbar-header">
                    <a class="navbar-brand a" href=""> Petites Puces</a>
                </div>
                <ul class="nav navbar-nav">
                    <li id="nav_dvdenmain" runat="server"><a href="" class="a">Inscription nouveau client/vendeur</a></li>
                    <li id="nav_dvdautreutil" runat="server"><a href="" class="a">Connexion</a></li>
                    <li id="nav_ajoutfilm" runat="server"><a href="" class="a">Mot de passe oublié</a></li>
                </ul>
            </div>
        </nav>
    </div>
</body>
</html>
