.sEspaceBarNavigation {
    margin-top: 5rem;
}

.sPiedPageBouton {
    width: 100%;
}

.bd-navbar {
    position: sticky;
    top: 0;
    z-index: 1071;
}

.bd-sidebar {
    position: sticky;
    z-index: 1000;
    height: calc(100vh - 4rem);
    top: 4rem;
}

.bd-links {
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-right: -15px;
    margin-left: -15px;

    max-height: calc(100vh - 4rem);
    overflow-y: auto;
    overflow-x: hidden;

    display:block!important;
}

.Ancre::before {
    display: block;
    padding-top: 6rem;
    margin-top: -6rem;
    content: "";
    
}