
<div>
    <div>
        Objet...
    </div>
    <div>
        <div>
            <span>Philippe</span>
            <span>10 février 2019</span>
            <span>Jojo@aol.com</span>
            <div>
                <span>Contract.pdf</span>
                <button type="button" class="btn">Télécharger</button>
            </div>
        </div>
        
        <div>
            <p>
                Message ...
            </p>
        </div>


    </div>
</div>
