
<div class="d-flex flex-column">
    <div class="row p-2">
        <div class="col-3">
            <span>Jean-Michel Danger</span>
        </div>
        <div class="col-2">
            <button type="button" title="Supprimer"><span class="fa fa-trash-alt"></span></button>
            <button type="button" title="Marquer comme lu"><span class="far fa-envelope-open"></span></button>
        </div>
        <div class="col-5">
            <span>Bonjours, Le produit que vous aviez commandé a été détruit par la douane...</span>
        </div>
        <div class="col-2">
            <span>06 février 2018</span>
        </div>
    </div>
    <div class="row p-2">
        <div class="col-3">
            <span>Jean-Michel Danger</span>
        </div>
        <div class="col-2">
            <button type="button" title="Supprimer"><span class="fa fa-trash-alt"></span></button>
            <button type="button" title="Marquer comme non lu"><span class="far fa-envelope"></span></button>
        </div>
        <div class="col-5">
            <span>Bonjours, Le produit que vous aviez commandé a été détruit par la douane...</span>
        </div>
        <div class="col-2">
            <span>06 février 2018</span>
        </div>
    </div>
    <div class="row p-2">
        <div class="col-3">
            <span>Jean-Michel Danger</span>
        </div>
        <div class="col-2">
            <button type="button" title="Supprimer"><span class="fa fa-trash-alt"></span></button>
            <button type="button" title="Marquer comme lu"><span class="far fa-envelope-open"></span></button>
        </div>
        <div class="col-5">
            <span>Bonjours, Le produit que vous aviez commandé a été détruit par la douane...</span>
        </div>
        <div class="col-2">
            <span>06 février 2018</span>
        </div>
    </div>
    <div class="row p-2">
        <div class="col-3">
            <span>Jean-Michel Danger</span>
        </div>
        <div class="col-2">
            <button type="button" title="Supprimer"><span class="fa fa-trash-alt"></span></button>
            <button type="button" title="Marquer comme lu"><span class="far fa-envelope-open"></span></button>
        </div>
        <div class="col-5">
            <span>Bonjours, Le produit que vous aviez commandé a été détruit par la douane...</span>
        </div>
        <div class="col-2">
            <span>06 février 2018</span>
        </div>
    </div>
</div>
