
<div class="d-flex flex-column">
    <div class="p-2">
        <label>De</label>
        <input type="text" value="Zabuza@SaintEustache.qc" readonly="readonly" class="form-control"/>
    </div>
    <div class="p-2">
        <label>À</label>
        <input type="text" value="" class="form-control"/>
    </div>
    <div class="p-2">
        <input type="text" value="" placeholder="Ajouter un objet" class="form-control" />
    </div>
    <div>
        <textarea rows="10" cols="145" class="form-control"></textarea>
    </div>
    <div class="p-2">
        <button class="btn btn-outline-primary">Envoyer</button>
        <button class="btn btn-outline-primary">Ignorer</button>
        <button class="btn btn-outline-primary">Enregistrer</button>
        <button class="btn btn-outline-primary">Joindre</button>
        <button class="btn btn-outline-primary">Message par Défault</button>
    </div>
</div>
