
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
   <title>Deconnexion</title>
   
   <!-- Latest compiled and minified CSS -->
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">

   <!-- jQuery library -->
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

   <!-- Popper JS -->
   <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>

</head>
<body>
<div class="container">
   <div class="alert alert-info text-center m-5">
      <p class="p-3">Vous avez &eacute;t&eacute; d&eacute;connect&eacute;.</p>
   </div>
   <a class="btn btn-primary btn-block" href="~/Connexion">Retour à la de connexion</a>
   <a class="btn btn-primary btn-block" href="~/Internaute/AccueilInternaute">Retour à la page d'accueil</a>
</div>
</body>
</html>
