@using PetitesPuces.Models

@{
   if (Session["gestionnaireObj"] == null)
   {
      if (Session["vendeurObj"] != null)
      {
         Response.Redirect(Url.Action("AccueilVendeur", "Vendeur"));
      }
      else if (Session["clientObj"] != null)
      {
         Response.Redirect(Url.Action("AccueilClient", "Client"));
      }
      else
      {
         Response.Redirect(Url.Action("Index", "Internaute"));
      }
   }
   DataClasses1DataContext db = new DataClasses1DataContext();
   db.Connection.Open();

   var notif = (from desti in db.GetTable<PPDestinataires>()
                where (desti.NoDestinataire.Equals((Session["gestionnaireObj"] as PPGestionnaire).NoGestionnaire)) &&
                (desti.EtatLu.Equals(0) && desti.Lieu == 1)
                select desti
                   ).ToList();
   db.Connection.Close();
}

<header class="navbar navbar-expand-lg navbar-light bg-light bd-navbar">
   <nav class="navbar navbar-expand-lg navbar-light bg-light bd-navbar">
      <a class="navbar-brand" href="/Gestionnaire/AccueilGestionnaire">Petites Puces</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
         <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
         <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
               <a class="nav-link" href="/Gestionnaire/GestionInactivite">G&eacute;rer l'inactivit&eacute; des clients/vendeurs <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
               <a class="nav-link" href="/Gestionnaire/Statistiques" id="navbarDropdown">
                  Voir les statistiques
               </a>
            </li>
            <li class="nav-item">
               <a class="nav-link" href="/Courriel/Index">
                  Messagerie
                  <i class="fas fa-envelope"></i>
                  @if(notif.Count() > 0)
                  {
                     @notif.Count();
                  }
               </a>
            </li>
            <li class="nav-item">
               <a class="nav-link" href="/Connexion/Deconnexion">
                  Déconnexion
                  <i class="fas fa-sign-out-alt"></i>
               </a>
            </li>
            <li class="nav-item">
               <a class="nav-link" href="#"><i class="fas fa-arrow-left"></i>Retour</a>
            </li>
         </ul>
      </div>
   </nav>
</header>
