
@{
   Layout = null;
}

<!DOCTYPE html>

<html>
<head>
   <meta name="viewport" content="width=device-width" />
   <title>TestStatistiques</title>


   <!-- Latest compiled and minified CSS -->
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">

   <!-- jQuery library -->
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

   <!-- Popper JS -->
   <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>

   <!-- Latest compiled JavaScript -->
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>


   <!-- Font Awesome (Icons) -->
   <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

   <link href="~/Content/morris.css" rel="stylesheet" />
   
   
   <script src="~/Content/raphael.js"></script>
   <script src="~/Content/morris.js"></script>

</head>
<body>
<div class="container text-center">
   <div class="header m-5">
      <h2> Statistiques et rapports</h2>
   </div>


   <div class="row m-5">

      <!-- Total utilisateurs -->
      <div class="box box-danger col-md-6">
         <div class="box-body chart-responsive">
            <div class="chart" id="total-chart" style="height: 300px; position: relative;"></div>
            <h3>Comptes totaux</h3>
         </div>
      </div>
      <!-- END CHART -->
      <!-- Clients categorie-->
      <div class="box box-danger col-md-6">
         <div class="box-body chart-responsive">
            <div class="chart" id="clients-chart" style="height: 300px; position: relative;"></div>
            <h3>Clients totaux</h3>
         </div>
      </div>
      <!-- END CHART -->

   </div>

   <hr class="m-5" />

   <div class="text-center p-3">
      <h3>Nombre de nouveaux comptes</h3>
   </div>
   <div class="row">
      <div class="col-md-2"></div>

      <!-- BAR CHART -->
      <div class="box box-success col-md-8">
         <div class="box-body chart-responsive">
            <div class="chart" id="nbNouveaux-chart" style="height: 300px;"></div>
         </div>
      </div>
      <!-- BAR END -->

      <div class="col-md-2"></div>
   </div>

   <hr class="m-5" />

   <div class="text-center p-3">
      <h3>Nombre de connexions client</h3>
   </div>
   <div class="row">
      <div class="col-md-2"></div>

      <!-- BAR CHART Connexions -->
      <div class="box box-success col-md-8">
         <div class="box-body chart-responsive">
            <div class="chart" id="nbConnexions-chart" style="height: 300px;"></div>
         </div>
      </div>
      <!-- BAR END -->

      <div class="col-md-2"></div>
   </div>

   <hr class="m-5" />

   <!-- Section vendeur -->

   <div class="text-center p-3">
      <h3>Statistique d'un vendeur spécifique</h3>
   </div>

   <label for="tbRechercheVendeur">Nom du vendeur : <input type="text" class="form-control " id="tbRechercheVendeur" /></label>
      

   <div class="row">
      <!-- Clients d'un vendeur categorie-->
      <div class="box box-danger col-md-12 my-auto">
         <div class="box-body chart-responsive">
            <div class="chart" id="clientsVendeur-chart" style="height: 300px; position: relative;"></div>
            <h5>Clients de ce vendeur</h5>
         </div>
      </div>
      <!-- END CHART -->
   </div>

   <div class="text-center p-3 m-3">
      <h3>Liste des clients d'un vendeur</h3>
   </div>

   <table class="table">
      <tr class="row">
         <th class="col">Numéro client</th>
         <th class="col">Nom et prénom</th>
         <th class="col">Total commande</th>
         <th class="col">Nb de connexions</th>
         <th class="col">Date dernière commande</th>
         <th class="col">Numéro vendeur</th>
         <th class="col">Nb de connexions</th>
      </tr>
      <tr class="row">
         <td class="col">10002</td>
         <td class="col">Utilisateur Test</td>
         <td class="col">1230$</td>
         <td class="col">122</td>
         <td class="col">2018-01-13</td>
         <td class="col">11</td>
         <td class="col">235</td>
      </tr>
      <tr class="row">
         <td class="col">10002</td>
         <td class="col">Utilisateur Test</td>
         <td class="col">1230$</td>
         <td class="col">122</td>
         <td class="col">2018-01-13</td>
         <td class="col">11</td>
         <td class="col">235</td>
      </tr>
      <tr class="row">
         <td class="col">10002</td>
         <td class="col">Utilisateur Test</td>
         <td class="col">1230$</td>
         <td class="col">122</td>
         <td class="col">2018-01-13</td>
         <td class="col">11</td>
         <td class="col">235</td>
      </tr>
      <tr class="row">
         <td class="col">10002</td>
         <td class="col">Utilisateur Test</td>
         <td class="col">1230$</td>
         <td class="col">122</td>
         <td class="col">2018-01-13</td>
         <td class="col">11</td>
         <td class="col">235</td>
      </tr>
   </table>



   <hr class="m-5" />

   <div class="text-center p-3 m-3">
      <h3>Liste des dernières connexions clients</h3>
      <div class="">
         <input type="number" min="0" placeholder="00" class="form-control col-md-1 float-right" />
         <span class="float-right">
            Nb de clients à afficher :&nbsp;
         </span>
      </div>
   </div>

   <table class="table">
      <tr class="row">
         <th class="col">Date</th>
         <th class="col">Numéro Client</th>
         <th class="col">Nom et prénom</th>
         <th class="col">Nb de connexions</th>
      </tr>
      <tr class="row">
         <td class="col">2018-01-12</td>
         <td class="col">10001</td>
         <td class="col">Utilisateur Test</td>
         <td class="col">1231</td>
      </tr>
      <tr class="row">
         <td class="col">2018-01-12</td>
         <td class="col">10001</td>
         <td class="col">Utilisateur Test</td>
         <td class="col">1231</td>
      </tr>
      <tr class="row">
         <td class="col">2018-01-12</td>
         <td class="col">10001</td>
         <td class="col">Utilisateur Test</td>
         <td class="col">1231</td>
      </tr>
      <tr class="row">
         <td class="col">2018-01-12</td>
         <td class="col">10001</td>
         <td class="col">Utilisateur Test</td>
         <td class="col">1231</td>
      </tr>
   </table>

</div>
<div class="m-5"></div>
</body>

<script>


   $(function () {
      "use strict";

      //Total utilisateurs CHART
      var donutTotal = new Morris.Donut({
         element: 'total-chart',
         resize: true,
         colors: ["#17a2b8", "#007bff"],
         data: [
            { label: "Vendeurs actifs", value: 1424 },
            { label: "Clients inscrit", value: 8545 }
         ],
         hideHover: 'auto'
      });

      //Clients CHART
      var donutClients = new Morris.Donut({
         element: 'clients-chart',
         resize: true,
         colors: ["#17a2b8", "#007bff", "#6c757d"],
         data: [
            { label: "Clients actifs", value: 6743 },
            { label: "Clients potentiel", value: 2431 },
            { label: "Clients visiteurs", value: 10232 }
         ],
         hideHover: 'auto'
      });

      //BAR CHART
      var bar = new Morris.Bar({
         element: 'nbNouveaux-chart',
         resize: true,
         data: [
            { y: '1 mois', a: 50, b: 140 },
            { y: '3 mois', a: 124, b: 440 },
            { y: '6 mois', a: 185, b: 937 },
            { y: '9 mois', a: 254, b: 1304 },
            { y: '12 mois', a: 321, b: 1508 },
            { y: 'Total', a: 1554, b: 8545 }
         ],
         barColors: ['#17a2b8', '#007bff'],
         xkey: 'y',
         ykeys: ['a', 'b'],
         labels: ['Vendeurs', 'Clients'],
         hideHover: 'auto'
      });

      //BAR CHART Connexion
      var bar2 = new Morris.Bar({
         element: 'nbConnexions-chart',
         resize: true,
         data: [
            { y: '1 mois', a: 745 },
            { y: '3 mois', a: 2583 },
            { y: '6 mois', a: 5465 },
            { y: '9 mois', a: 8342 },
            { y: '12 mois', a: 10284 },
            { y: 'Total', a: 13928 }
         ],
         barColors: ['#17a2b8'],
         xkey: 'y',
         ykeys: ['a'],
         labels: ['Nombre de connexions des clients'],
         hideHover: 'auto'
      });


      //Section vendeur

      //Clients CHART
      var donutClients = new Morris.Donut({
         element: 'clientsVendeur-chart',
         resize: true,
         colors: ["#17a2b8", "#007bff", "#6c757d"],
         data: [
            { label: "Clients actifs", value: 6743 },
            { label: "Clients potentiel", value: 2431 },
            { label: "Clients visiteurs", value: 10232 }
         ],
         hideHover: 'auto'
      });
      


      //Section client



   })

</script>
</html>
